{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}AttornEase - Attorney Detail{% endblock %}

{% block main_container %}

<header class="main-header">
    <div class="container">
        <h1 class="page-title">{{ attorney.full_name }}</h1>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <section>
                <img src="{{ attorney.profile_pic.url }}" alt="avatar" class="img-responsive imageborder">
            </section>
            <section>
                <h3 class="section-title">General Information</h3>
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Name</th>
                            <td>{{ attorney.full_name }}</td>
                        </tr>
                        <!-- Law categories list -->
                        {% if attorney.categories.count > 0 %}
                        <tr>
                            <th>Categories</th>
                            <td>
                                <ul class="list-unstyled">
                                {% for category in attorney.categories.all %}
                                    <li>{{ category.title }}</li>
                                {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        {% endif %}

                        {% if attorney.service_areas.count > 0 %}
                        <tr>
                            <th>Service Areas</th>
                            <td>
                                <ul class="list-unstyled">
                                {% for area in attorney.service_areas.all %}
                                    <li>{{ area.area }} - {{ area.state }}</li>
                                {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        {% endif %}

                        <tr>
                            <th>Affiliated Firm</th>
                            <td>{{ attorney.firm }}</td>
                        </tr>
                        <tr>
                            <th>Law School</th>
                            <td>{{ attorney.school }}</td>
                        </tr>
                        <tr>
                            <th>Attorney Since</th>
                            <td>{{ attorney.year_started }}</td>
                        </tr>

                        {% if attorney.license_set.count > 0 %}
                            <tr>
                                <th>Licensed States</th>
                                <td>
                                    <ul class="list-unstyled">
                                    {% for license in attorney.license_set.all %}
                                        <li>{{ license.state }} (Since {{ license.year }})</li>
                                    {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endif %}
                    </table>
            </section>
        </div>
        <div class="col-md-8">
            <section>
                <h2 class="section-title">Attorney Bio</h2>
                <div class="border-box">
                    {{ attorney.description }}
                </div>
            </section>
        </div>
    </div>
</div> <!-- container  -->

{% endblock %}
