{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Artificial Reason</title>

    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" />

    <meta name="description" content="">

    <!-- CSS -->
    <link href="{% static 'css/preload.css' %}" rel="stylesheet">
    
    <!-- Compiled in vendors.js -->
    <!--
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-switch.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/slidebars.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lightbox.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.bxslider.css' %}" rel="stylesheet" />
    <link href="{% static 'css/buttons.css' %}" rel="stylesheet">
    -->

    <link href="{% static 'css/vendors.css' %}" rel="stylesheet">

    <link href="{% static 'css/style-gray.css' %}" rel="stylesheet" title="default">
    <link href="{% static 'css/width-full.css' %}" rel="stylesheet" title="default">

    

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="{% static 'js/html5shiv.min.js' %}"></script>
        <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
</head>

<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<body>


<div class="paper-back">
    <div class="absolute-center">
        <div class="text-center">
            <div class="title-logo animated fadeInDown animation-delay-5">artificial<span>reason</span></div>
            <div class="transparent-div animated fadeInUp animation-delay-8">
                <h1>Error 404</h1>
                <h2>Page Not Found</h2>
                <p>That page does not seem to exist. <br> Feel the oncoming existential crises.</p>
                <a href="/" class="btn btn-ar btn-primary btn-lg">Go Home</a>
            </div>
        </div>
    </div>
</div>


<!-- Scripts -->
<!-- Compiled in vendors.js -->
<!--
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap-switch.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/slidebars.min.js' %}"></script>
<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
<script src="{% static 'js/holder.js' %}"></script>
<script src="{% static 'js/buttons.js' %}"></script>
<script src="{% static 'js/jquery.mixitup.min.js' %}"></script>
<script src="{% static 'js/circles.min.js' %}"></script>
<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'js/jquery.matchHeight-min.js' %}"></script>
-->

<script src="{% static 'js/vendors.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>

</body>

</html>
